---
layout: default
title: Shanghai Ruby User Group
---
{% for post in site.posts %}
<div class="posts">
<h1 class="content-subhead">{{ post.date | date_to_string }}</h1>
	<section class="posts">
		<header class="post-header"><a href="{{ post.url }}" class="post-title">{{ post.title }}</a>
		<p class="post-meta">
			{% for category in post.categories %}
			#{{ category }}
			{% endfor %}
		</p>

		<div class="post-description">
                        <p>
                            {{ post.excerpt }}...
                        </p>
                    </div>
	</section>
</div>
{% endfor %}