<div class="footer">
  <div class="contact">
    <p>
      SHRUBY<br />
      <a href="mailto:rubyshanghai@gmail.com">Shanghai Ruby User Group</a><br />
      <a href="/rss.xml">RSS 2.0</a><br />
    </p>
  </div>
  <div class="contact">
    <p>
      <a href="https://github.com/shruby"><img width="75" src="https://github.global.ssl.fastly.net/images/modules/logos_page/GitHub-Mark.png"></a><br />
<!--                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
      <div class="github-card" data-user="shruby" data-repo="shruby.github.io" data-height=200></div>
      <script src="github-cards/widget.js"></script>
 -->
    </p>
  </div>
</div>
