<header class="header">  

  <hgroup>
    <a href="/" class="brand-title">{{ site.name }}</a>
    <!-- <h2 class="brand-tagline">Creating a blog layout using Pure</h2> -->
  </hgroup>
   <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/" class="pure-button">动态</a>
                    </li>
                    <li class="nav-item">
                        <a href="/members.html" class="pure-button">成员</a>
                    </li>
                    <li class="nav-item">
                        <a href="/about.html" class="pure-button">关于我们</a>
                    </li>
                    <li class="nav-item">
                        <a href="/sponsors.html" class="pure-button">赞助方</a>
                    </li>
                </ul>
            </nav>
</header>